.contact {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: var(--purple-light);
}

.ctn-circle {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 3px solid var(--pink-color);
  background-color: #fff;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

.zoom-card {
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  cursor: pointer;
}
.zoom-card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}
