<section class="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="chewy-regular text-center mb-3">Contacto</h2>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-4 text-center">
        <div class="ctn-circle zoom-card">
          <img src="img/telephone.png" width="65" alt="icon-phone" />
        </div>

        <h4>Teléfono</h4>
        <p class="fs-4">55-87-93-49-99</p>
      </div>
      <div class="col-md-4 text-center">
        <div class="ctn-circle zoom-card">
          <img src="img/computer.png" width="55" alt="icon-phone" />
        </div>

        <h4>Correo electrónico</h4>
        <p class="fs-4">nath.sqz&#64;gmail.com</p>
      </div>
      <div class="col-md-4 text-center">
        <div class="ctn-circle zoom-card">
          <img src="img/location.png" width="50" alt="icon-phone" />
        </div>

        <h4>Ubicación</h4>
        <p class="fs-4">Mérida, Yucatán</p>
      </div>
    </div>
  </div>
</section>
