<div class="container-fluid footer-dark py-4">
  <footer
    class="d-flex flex-wrap justify-content-between align-items-center border-top"
  >
    <div class="col-md-4 d-flex align-items-center mt-3">
      <span class="mb-3 mb-md-0 text-white fs-6"
        >© 2026 Derechos reservados, Shanath Sánchez</span
      >
    </div>
    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex mt-3">
      <li>
        <button
          class="text-white btn"
          aria-label="Linkedin"
          type="button"
          (click)="openLinkedin()"
        >
          <i class="bi bi-linkedin"></i>
          Linkedin
        </button>
      </li>
    </ul>
  </footer>
</div>
