<section class="experience bg-light">
  <div class="container">
    <div class="row mb-4">
      <div class="col-md-12">
        <h2 class="chewy-regular text-center mb-3">Experiencia</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="w-100 d-flex align-items-stretch">
          <div class="ctn-year">
            <div class="circle-year">2026</div>
          </div>
          <div class="card w-100 ms-5 mt-2 mb-2 zoom-card">
            <div class="card-body">
              <h4>GlobalSoft</h4>
              <p class="text-secondary">
                Líder Técnico Front-end | Agosto 2020 - Actualidad
              </p>
              <ul>
                <li>Diseño web</li>
                <li>Usabilidad UX/UI</li>
                <li>Desarrollo de aplicaciones web con Angular y React</li>
                <li>Consumo de servicios REST API</li>
                <li>Liderar equipos de desarrollo en proyectos web</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="w-100 d-flex align-items-stretch">
          <div class="ctn-year">
            <div class="circle-year">2020</div>
          </div>

          <div class="card w-100 mt-2 mb-2 ms-5 zoom-card">
            <div class="card-body">
              <h4>Alianza Corp</h4>
              <p class="text-secondary">
                Desarrolladora Front-end | Agosto 2019 - Abril 2020
              </p>
              <ul>
                <li>Diseño web</li>
                <li>Implementar mejoras UI en aplicaciones web</li>
                <li>Maquetación y diseño responsivo HTML y CSS</li>
                <li>Consumo de servicios REST API</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="w-100 d-flex">
          <div class="ctn-year">
            <div class="circle-year">2019</div>
          </div>

          <div class="card w-100 mt-2 mb-2 ms-5 zoom-card">
            <div class="card-body">
              <h4>Grupo Ahorra Seguros</h4>
              <p class="text-secondary">
                Desarrolladora Front-end Junior | Abril 2019 - Julio 2019
              </p>
              <ul>
                <li>Diseño web</li>
                <li>Maquetación y diseño responsivo HTML y CSS</li>
                <li>Desarrollo de aplicaciones web con Angular</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
